absl-py==1.4.0
aiobotocore==2.4.2
aiohttp==3.8.3
aioitertools==0.11.0
aiosignal==1.3.1
alembic==1.9.3
anndata==0.8.0
anndata2ri==1.1
annoy==1.17.1
anyio==3.6.2
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///tmp/build/80754af9/argon2-cffi-bindings_1644569679365/work
arrow==1.2.3
astroid==2.13.2
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.2.0
Babel @ file:///croot/babel_1671781930836/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
batchglm==0.7.4
bbknn==1.5.1
beautifulsoup4 @ file:///opt/conda/conda-bld/beautifulsoup4_1650462163268/work
bleach==5.0.1
boto==2.49.0
boto3==1.26.52
botocore==1.29.51
Bottleneck @ file:///opt/conda/conda-bld/bottleneck_1657175564434/work
brotlipy==0.7.0
cached-property==1.5.2
cachetools==5.2.1
cellanneal==0.1.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
chex==0.1.6
click==8.1.3
cloudpickle==2.2.1
comm @ file:///croot/comm_1671231121260/work
contextlib2==21.6.0
contourpy==1.0.7
cryptography @ file:///croot/cryptography_1673298753778/work
cycler==0.11.0
Cython==0.29.33
dask==2023.1.0
databricks-cli==0.17.4
debugpy==1.6.5
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
diffxpy==0.7.4
dill==0.3.6
distlib==0.3.6
dm-tree==0.1.8
dnspython==2.3.0
docker==6.0.1
docrep==0.3.2
dunamai==1.15.0
entrypoints @ file:///tmp/build/80754af9/entrypoints_1649926439650/work
et-xmlfile==1.1.0
etils==1.0.0
executing==1.2.0
fastjsonschema @ file:///opt/conda/conda-bld/python-fastjsonschema_1661371079312/work
fbpca==1.0
filelock==3.9.0
Flask==2.2.2
flatbuffers==23.1.4
flax==0.6.4
flit_core @ file:///opt/conda/conda-bld/flit-core_1644941570762/work/source/flit_core
fonttools==4.38.0
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.1.0
future==0.18.3
gast==0.4.0
geosketch==1.2
get_version==3.5.4
gitdb==4.0.10
GitPython==3.1.30
google-auth==2.16.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gprofiler==1.2.2
greenlet==2.0.2
grpcio==1.51.1
gunicorn==20.1.0
h5py==3.7.0
-e git+ssh://git@github.com/celsiustx/hotspot.git@25eea4e934edce58ee2ed0e4ca3ac6f5c6d85b18#egg=hotspot
hyperopt==0.1.2
idna==3.4
igraph==0.10.3
imageio==2.24.0
importlib-metadata==5.2.0
importlib-resources==5.10.2
intervaltree==3.1.0
ipykernel==6.20.2
ipython @ file:///croot/ipython_1674681422581/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1634143127070/work
isoduration==20.11.0
isort==5.11.4
itsdangerous==2.1.2
jax==0.4.1
jaxlib==0.4.3
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter @ file:///tmp/abs_33h4eoipez/croots/recipe/jupyter_1659349046347/work
jupyter-console @ file:///croot/jupyter_console_1671541909316/work
jupyter-events==0.6.3
jupyter_client==7.4.9
jupyter_core==5.1.3
jupyter_server==2.1.0
jupyter_server_terminals==0.4.4
jupyterlab @ file:///croot/jupyterlab_1672132689850/work
jupyterlab-pygments==0.2.2
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
jupyterlab_server==2.19.0
keras-nightly==2.12.0.dev2023011908
kiwisolver==1.4.4
lazy-object-proxy==1.9.0
leidenalg==0.9.1
libclang==15.0.6.1
lightgbm==3.3.5
llvmlite==0.39.1
locket==1.0.0
louvain==0.8.0
lxml @ file:///opt/conda/conda-bld/lxml_1657545139709/work
Mako==1.2.4
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.2
matplotlib==3.6.3
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
mccabe==0.7.0
mdurl==0.1.2
-e git+ssh://git@github.com/celsiustx/metaflow.git@e50a602a6f65a33d9e324dbee586db8151bc0616#egg=metaflow
mistune==2.0.4
ml-collections==0.1.1
mlflow==2.1.1
mock @ file:///tmp/build/80754af9/mock_1607622725907/work
msgpack==1.0.4
mudata==0.2.1
multidict==6.0.4
multipledispatch==0.6.0
munkres==1.1.4
NaiveDE==1.2.0
natsort==8.2.0
nbclassic @ file:///croot/nbclassic_1668174957779/work
nbclient==0.7.2
nbconvert==7.2.8
nbformat==5.7.3
nest-asyncio @ file:///croot/nest-asyncio_1672387112409/work
networkx==3.0
notebook @ file:///croot/notebook_1668179881751/work
notebook_shim @ file:///croot/notebook-shim_1668160579331/work
numba==0.56.4
numexpr @ file:///croot/numexpr_1668713893690/work
numpy==1.23.5
numpyro==0.11.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
openpyxl==3.0.10
openTSNE==0.6.2
opt-einsum==3.3.0
optax==0.1.4
orbax==0.1.1
packaging==23.0
pandas==1.5.2
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partd==1.3.0
patsy==0.5.3
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.4.0
platformdirs==2.6.2
ply==3.11
prometheus-client==0.15.0
prompt-toolkit @ file:///croot/prompt-toolkit_1672387306916/work
protobuf==3.19.6
psutil==5.9.4
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyDeprecate==0.3.2
Pygments==2.14.0
PyJWT==2.6.0
pylint==2.15.10
pymongo==4.3.3
pynndescent==0.5.8
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.9
PyQt5-sip==12.11.0
pyro-api==0.1.2
pyro-ppl==1.8.4
pyrsistent==0.19.3
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
python-box==7.0.0
python-dateutil==2.8.2
python-igraph==0.10.3
python-json-logger==2.0.4
pytorch-lightning==1.7.7
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==25.0.0
qgrid @ file:///tmp/build/80754af9/qgrid_1614089977177/work
qtconsole @ file:///croot/qtconsole_1674008428467/work
QtPy @ file:///opt/conda/conda-bld/qtpy_1662014892439/work
querystring-parser==1.2.4
requests==2.28.2
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.3.1
rpy2==3.5.2
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
s3fs==2023.1.0
s3transfer==0.6.0
scanorama==1.7.3
scanpy==1.9.1
scikit-image==0.19.3
scikit-learn==1.2.0
scikit-misc==0.1.4
scipy==1.10.0
scrublet==0.2.3
scvi==0.6.8
scvi-tools==0.18.0
seaborn==0.9.0
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
session-info==1.0.0
shap==0.41.0
simplegeneric==0.8.1
sip @ file:///tmp/abs_44cd77b_pu/croots/recipe/sip_1659012365470/work
six==1.16.0
slicer==0.0.7
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve @ file:///croot/soupsieve_1666296392845/work
sparse==0.13.0
SpatialDE==1.1.3
SQLAlchemy==1.4.46
sqlparse==0.4.3
stack-data==0.6.2
statsmodels @ file:///croot/statsmodels_1674588814250/work
stdlib-list==0.8.0
tables @ file:///croot/pytables_1673967643433/work
tabulate==0.9.0
tb-nightly==2.12.0a20230119
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-io-gcs-filesystem==0.29.0
tensorstore==0.1.31
termcolor==2.2.0
terminado @ file:///croot/terminado_1671751832461/work
texttable==1.6.7
tf-estimator-nightly==2.12.0.dev2023010909
tf-nightly==2.12.0.dev20230119
tfp-nightly==0.20.0.dev20230119
threadpoolctl==3.1.0
tifffile==2022.10.10
tinycss2 @ file:///croot/tinycss2_1668168815555/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli==2.0.1
tomli_w==1.0.0
tomlkit==0.11.6
toolz==0.12.0
torch==1.7.1+cu110
torchaudio==0.7.2
torchmetrics==0.11.1
torchvision==0.8.2+cu110
tornado @ file:///opt/conda/conda-bld/tornado_1662061693373/work
tqdm==4.64.1
traitlets==5.8.1
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
umap-learn==0.5.3
uri-template==1.2.0
urllib3==1.26.14
virtualenv==20.17.1
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.4.2
Werkzeug==2.2.2
widgetsnbextension @ file:///tmp/build/80754af9/widgetsnbextension_1644992802045/work
wrapt==1.14.1
xlrd @ file:///tmp/build/80754af9/xlrd_1608072521494/work
yarl==1.8.2
zipp @ file:///croot/zipp_1672387121353/work
