anndata==0.8.0
anndata2ri==1.1
cellanneal==0.1.0
cycler==0.11.0
lightgbm==3.3.5
llvmlite==0.39.1
louvain==0.8.0
mlflow==2.1.1
openpyxl==3.0.10
openTSNE==0.6.2
rpy2==3.5.2
scanorama==1.7.3
scanpy==1.9.1
scrublet==0.2.3
scvi==0.6.8
scvi-tools==0.18.0
torch==1.7.1+cu110
torchaudio==0.7.2
torchmetrics==0.11.1
torchvision==0.8.2+cu110
tqdm==4.64.1
umap-learn==0.5.3
